body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    background-color: white;
    height: 60px;
    width: 110px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
