body {
    background-color: #fcf2db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    color: #E26751;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;    
    top: 10px;
    height: 99vh;
    width: 100vh;
    background-color: #fcf2db;
}
.menu p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 36px;
}
.start {
    color:#E26751;
    border-radius: 20px;
    height: 90px;
    width: 120px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fcf2db;
    box-shadow: 5px 5px 3px 3px #b24e3d;
}
.start:active {
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 2px 2px 3px 1px #b24e3d;
}
button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 4px solid #E26751;
    border-radius: 90px;
    height: 160px;
    width: 160px;
    cursor: pointer;
    margin: 10px;
    color: transparent; /* Hiding text */
}
.rock {
    background-image: url(../images/rock.svg);
}.paper {
    background-image: url(../images/paper.svg);
}.scissors {
    background-image: url(../images/scissors.svg);
}.lizard {
    background-image: url(../images/lizard.svg);
}.spock {
    background-image: url(../images/spock.svg);
}

.results {
    margin: 10px;
}
#choice {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#versus {
    font-size: 36px;
}