body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    border-radius: 0;
    height: 140px;
    width: 140px;
    cursor: pointer;
    margin: 10px;
    color: transparent; /* Hiding text */
}
.rock {
    background-image: url(../images/rock.svg);
}.paper {
    background-image: url(../images/paper.svg);
}.scissors {
    background-image: url(../images/scissors.svg);
}.lizard {
    background-image: url(../images/lizard.svg);
}.spock {
    background-image: url(../images/spock.svg);
}