body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    background-color: rgb(52, 82, 129);
    color: white;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-color: rgb(255, 255, 136);
    border-width: 4px;
    border-radius: 90px;
    height: 160px;
    width: 160px;
    cursor: pointer;
    margin: 10px;
    color: transparent; /* Hiding text */
}
.rock {
    background-image: url(../images/rock.svg);
}.paper {
    background-image: url(../images/paper.svg);
}.scissors {
    background-image: url(../images/scissors.svg);
}.lizard {
    background-image: url(../images/lizard.svg);
}.spock {
    background-image: url(../images/spock.svg);
}

.results {
    margin: 10px;
}
#choice {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#versus {
    font-size: 36px;
}